#search-main {
  form {
    background: $mid-light-gray;

    @include px-(56px, 56px);
    @include py-(48px, 64px);
    @include my-(48px, 48px);

    h2 {
      @include my-(0, 32px);

      color: $gray;
    }

    div {
      div {
        @include mx-(4px, 4px);

        label {
          font-size: 14px;
        }

        input {
          border: 1px solid $gray;
          border-radius: 3px;

          @include px-(8px, 8px);
          @include py-(5px, 5px);
          @include my-(4px, 0);
        }

        input:focus {
          border: 1px solid $blue;
          box-shadow: 0 0 4px $blue;
        }
      }

      button {
        @include mx-(4px, 4px);
        @include px-(12px, 12px);
        @include py-(6px, 6px);

        align-self: flex-end;
        border-radius: 3px;
        color: $white;
        transition: all 0.2s ease-in-out;
      }

      #search {
        background-color: $ocean-blue;
      }

      #filter {
        background: $yellow;
      }

      #search:hover {
        background: #0c5cac;
      }

      #filter:hover {
        background: #e0880d;
      }
    }
  }

  & > p {
    font-size: 35px;
    color: $gray;

    @include my-(0, 40px);
  }

  div.grid {
    @include col-(3);
    @include px-(80px, 80px);
    @include my-(0, 80px);

    grid-gap: 56px 24px;

    a {
      height: 100%;
      width: 100%;
      color: $white;
    }

    div.card {
      box-shadow: -4px 15px 5px 2px rgba($color: #000, $alpha: 0.5);
      transition: all 0.2s ease-in-out;
    }
    div.card:hover {
      transform: scale(1.1);
      box-shadow: -24px 30px 20px 2px rgba($color: #000, $alpha: 0.5);
    }
  }
}

@include desktop {
  #search-main {
    form {
      @include px-(40px, 40px);

      h2 {
        font-size: 20px;
      }
    }

    div.grid {
      @include col-(2);
    }
  }
}

@include tablet {
  #search-main {
    form {
      & > div {
        flex-direction: column;
        align-items: center;

        div {
          @include my-(8px, 8px);

          text-align: center;

          input {
            width: 100%;
          }
        }

        button {
          align-self: center;

          @include my-(8px, 8px);
        }
      }
    }

    div.grid {
      @include col-(1);
    }
  }
}
