footer {
  @include text-($white);
  @include bg-($black);

  & > div:last-child {
    background-color: $dark;

    @include px-(24px, 24px);
    @include py-(24px, 32px);

    color: $gray;

    a {
      @include px-(8px, 8px);

      color: $gray;

      i {
        transition: all 0.2s ease-in-out;
      }

      i:hover {
        transform: scale(1.3);
        color: $light-gray;
      }
    }

    p {
      & > a {
        color: $light-gray;
      }

      & > a:hover {
        text-decoration: underline;
      }
    }
  }

  & > div:nth-child(2) {
    @include px-(80px, 80px);
    @include py-(40px, 40px);
    @include col-(3);

    h3 {
      @include py-(40px, 40px);

      letter-spacing: 5px;
    }

    a {
      color: $light-orange;
    }

    a:hover {
      text-decoration: underline;
    }

    form {
      @include py-(4px, 4px);

      input {
        @include bg-(transparent);
        @include text-($gray);
        @include px-(8px, 8px);
        @include py-(8px, 8px);
        @include w-(75%);

        border: 1px solid $dark-gray;
      }

      input:focus {
        box-shadow: 0 0 4px $white;
      }

      button {
        @include px-(40px, 40px);
        @include py-(8px, 8px);
        @include bg-($dark-gray);
        @include text-($white);

        transition: all 0.2s ease-in-out;
      }

      button:hover {
        background-color: $gray;
        color: $dark;
      }
    }
  }

  & > div:first-child {
    @include px-(80px, 80px);
    @include py-(40px, 40px);
    @include text-($white);

    a {
      @include py-(16px, 16px);
      @include text-($white);

      transition: all 0.2s ease-in-out;
    }

    a:hover {
      transform: scale(1.2);
      text-decoration: underline;
    }

    div:nth-child(2) {
      font-size: 3em;

      @include icon-border(3em);

      border: 1px solid $dark-gray;
    }

    div:first-child {
      @include border-y(1px, #3d3d3d);
      @include w-(45%);

      margin-right: -5px;
    }

    div:last-child {
      @include border-y(1px, #3d3d3d);
      @include w-(45%);

      margin-left: -5px;
    }

    section {
      h3 {
        letter-spacing: 5px;
      }
    }
  }
}

@include desktop {
  footer {
    & > div:nth-child(2) {
      @include px-(20px, 20px);
      @include py-(0, 40px);
      @include col-(1);

      h3 {
        @include py-(40px, 16px);

        letter-spacing: 5px;
      }
    }

    & > div:first-child {
      @include px-(20px, 20px);

      flex-direction: column;

      div:not(:nth-child(2)) {
        width: 100%;
      }
    }
  }
}

@include tablet {
  footer {
    & > div:last-child {
      flex-direction: column;

      p {
        @include py-(8px, 0);
      }
    }

    & > div:first-child {
      div:nth-child(2) {
        @include icon-border(1.5em);
      }

      div:not(:nth-child(2)) {
        font-size: 14px;
      }
    }
  }
}
