* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Generic Classes

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.bg-red {
  background-color: #d35649;
  // background-color: #10226c;
  // background-image: linear-gradient(#6d569c, #10226c, #07092f);
  // background: linear-gradient(#10226c, #07092f);
}

.bg-orange {
  background-color: #e17e65;
}

.bg-gray {
  background-color: #98a4a5;
}

.bg-blue {
  background-color: #509bd7;
}

.bg-white {
  background: white;
}

.bg-black {
  background-color: black;
}

.bg-dark {
  background-color: #1f1f1f;
}

.bg-transparent {
  background-color: transparent;
}

.border {
  border: 1px solid #3d3d3d;
}

.icon-border {
  font-size: 3em;
  width: 3em;
  line-height: 3em;
  border-radius: 1.5em;
  text-align: center;
}

.border-y {
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
}

.text-white {
  color: white;
}

.text-black {
  color: #222222;
}

.text-gray {
  color: gray;
}

.text-orange {
  color: #d75545;
}

.bold {
  font-weight: bold;
}

.font-weight-400 {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.w-25 {
  width: 25%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.round {
  border-radius: 50%;
  object-fit: cover;
}

body {
  font-family: "Lato", sans-serif;

  a {
    text-decoration: none;
  }

  button,
  input {
    border: none;
  }

  button:hover {
    cursor: pointer;
  }
}

nav {
  font-family: "Roboto", sans-serif;

  img {
    width: 200px;
  }

  a {
    transition: all 0.2s ease-in-out;
  }

  div a:hover {
    text-decoration: underline;
    transform: scale(1.15);
  }
}

header {
  height: 440px;
  background: url(../images/hero.png),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  form,
  a {
    background: rgba($color: #eeeeee, $alpha: 0.8);
  }

  form {
    width: 60%;
    border-radius: 8px;

    button {
      margin-left: -2px;
      width: 96px;
    }
  }

  a {
    border-radius: 4px;
  }
}

main {
  section:first-child {
    div {
      grid-gap: 80px 240px;
    }

    h3 {
      color: #e06b4b;
    }
  }

  div {
    section {
      button {
        margin: 16px 0;
      }
      button:first {
        color: #e17e65;
      }
      button:last-child {
        color: #98a4a5;
      }
    }
  }
}

footer {
  div {
    // height: 32px;

    div:first-child {
      margin-right: -5px;
    }
    div:last-child {
      margin-left: -5px;
    }
    section {
      h3 {
        letter-spacing: 5px;
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    padding: 0px;
  }

  .hide-tablet {
    display: none;
  }

  header {
    form {
      width: 75%;
    }
  }

  main {
    section:first-child {
      div {
        grid-gap: 80px;
      }
    }
  }

  .icon-border {
    width: 1.8em;
    line-height: 1.8em;
    border-radius: 0.9em;
    text-align: center;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    div {
      width: 200px;
    }
  }

  header {
    form {
      width: 100%;
    }
  }

  main {
    & > section:first-child {
      padding: 64px 24px;
      div {
        grid-template-columns: 1fr;
      }
    }
    div {
      section {
        flex-direction: column;
        text-align: center;
      }
    }
  }

  footer {
    padding: 0;
    background-color: red;
  }
}
